<div class="container">
  <h1>Spam Classifier</h1>
  <textarea
    [(ngModel)]="emailText"
    placeholder="Enter email text here..."
    rows="10"
    cols="50"
  ></textarea>
  <button (click)="classifyEmail()">Classify</button>
  <p *ngIf="classification">
    This email is classified as:
    <span class="classification">{{ classification }}</span>
  </p>

  <div *ngIf="metrics" class="metrics-container">
    <h2>Classifier Metrics Assessment</h2>
    <div class="metric">
      Accuracy: <span>{{ metrics.accuracy }} %</span>
    </div>
    <div class="metric">
      Precision: <span>{{ metrics.precision }} %</span>
    </div>
    <div class="metric">
      Recall: <span>{{ metrics.recall }} %</span>
    </div>
    <div class="metric">
      F1-Score: <span>{{ metrics.f1Score }} %</span>
    </div>
    <h2>Confusion Matrix Analysis</h2>
    <table class="confusion-matrix">
      <tr>
        <th></th>
        <th>Predicted Not Spam</th>
        <th>Predicted Spam</th>
      </tr>
      <tr>
        <th>Actual Not Spam</th>
        <td>{{ metrics.confusionMatrix[0][0] }}</td>
        <td>{{ metrics.confusionMatrix[0][1] }}</td>
      </tr>
      <tr>
        <th>Actual Spam</th>
        <td>{{ metrics.confusionMatrix[1][0] }}</td>
        <td>{{ metrics.confusionMatrix[1][1] }}</td>
      </tr>
    </table>
  </div>
</div>
